<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">LinkedIn: https://www.linkedin.com/in/basil-zayed-0aab61336/. GitHub: https://github.com/basilzayed01/basilzayed05.</h6>

</nav>